div{
    background-color: gainsboro ;
    display: inline-block;
    padding: 5px;
    border-width:5px ;
    border-style: solid;
    margin: 5px;
    outline: 5px solid black;
}

.shape1{
    border-color: red;
}
.shape2{
    border-color: blue green;
}
.shape3{
    border-style: dashed;
    border-color: red green blue yellow;
}