p{
    text-align: center;
    line-height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.one{
    text-transform: uppercase;
}

.two{
    text-transform: capitalize;
}
.three{
    text-transform: lowercase;
}